.navbar {
    display: flex; 
    background-color: darkred;

}

.navbar ul {
    display: flex;

}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}  

.navbar ul li b {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.navbar ul li c {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.navbar ul li d {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
