.navbar {
    display: flex; 
    background-color: darkred;
    padding: 0; margin: 0;
}

.navbar ul {
    display: flex;

}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    display: flex;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.navbar ul li a:hover {
    background-color: darkred;
    box-shadow: 0px 10px 20px black;
    border-radius: 7px;
    transform: translateY(-3px);
}

.galery {
    padding 0;
    margin-right: 15px;
    margin-left: 15px;
}

.Perfil {
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
}